.header {
    background-color: blue;
    color: white;
}

.content {
    background-color: red;
}

.footer {
    background-color: green;
}

.grid {
    display: grid;
    grid-template-rows: min-content auto min-content;
    height: 100vh;
}