<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css?v=1.0.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
        integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
        crossorigin="anonymous"></script>
    <title>Othello</title>
</head>

<body>
    <main>
        <div class="volumeControl">
            <p id="volumeSymbol">&#128265;</p>
            <input type="range" min="0" max="100" value="50" class="volumeSlider">
        </div>
        <div class="game">
            <table class="gameBoard">
                {% for i in range(8) %}
                <tr>
                    {% for j in range(8) %}
                    <td class="square" id="R{{i}}C{{j}}">
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <p class="waitingOppMsg">Waiting for opponent to join...
            </p>
            <p class="computerThinkingMsg">Computer is thinking...
            </p>
            <p class="turnMsg">There is no move available for <span id="noMoveText">white</span>; it is still <span
                    id="moveText">black</span>'s turn.
            </p>
            <div class="gameOver">
                <p>Game over. <span id="winner"></span></p>
                <p id="playAgain">Play again?</p>
                <button id="playAgainYes">Yes</button>
                <button id="playAgainNo">No</button>
            </div>
            <div class="oppDisconnect">
                <p id="oppDisconnectMsg">Your opponent has disconnected from the game.</p>
                <form action="{{url_for('home')}}" method="GET">
                    <input type="submit" value="Go to Home Page" id="goToHome">
                </form>
            </div>
        </div>

        <div class="gameControl">
            <div class="turnDisplay">
                <span class="turnLabel">Player Turn</span>
                <div class="turnIndicator black"></div>
            </div>
            <div class="helpMode">
                <span class="helpModeLabel">Show Legal Moves</span>
                <label class="helpModeSwitch">
                    <input type="checkbox" id="helpModeCheckbox">
                    <span class="helpModeSlider round"></span>
                </label>
            </div>
        </div>
        <div class="playersSection">
            <span class="playerLabel">Player: </span>
            <span class="playerName"></span>
            <div class="playerColor unassigned" id="colorSelf"></div>
            <span class="opponentLabel">Opponent: </span>
            <span class="opponentName"></span>
            <div class="playerColor unassigned" id="colorOpp"></div>
        </div>
        <!-- <audio class="ping">
            <source src="/static/flip_sound.wav">
        </audio> -->
        <!-- <audio class="ping" src="/static/flip_sound_400ms.wav" preload="auto"></audio>
        <audio class="ping2" src="/static/flip_sound_400ms_black.wav" preload="auto"></audio> -->
    </main>

    <!-- <script src="/static/game.js?v=1.0.0"></script> -->
    <script src="/static/game.js?v=1.0.0"></script>
</body>

</html>